/*  Google Font  */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*  Universal/General Styles  */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Bebas Neue", sans-serif;
    color: white;
}

ul{
    list-style-type: none;
}

h1{
    font-size: 40px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h2{
    font-size: 30px;
}

p{
    font-size: 18px;
}

.hide-heading{
    display: none;
}

.active{
    background-color: white;
    color: #1C77C3;
    padding: 3px 5px;
    border-radius: 5px;
}


/*  Header  */


header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1C77C3;
    position: relative;
}

header img{
    align-self: center;
    height: 70px;
}

nav{
    background-color: #1C77C3;
    top: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    color: white;
    text-align: center;
    display: none;
    z-index: 2;
}

nav li{
    padding-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

#nav-tab-opener:checked~nav{
    /*Opens the Navigation Bar*/
    display: block;
}

#nav-tab-opener:checked~label{
    /*Hides the Toggle Arrow*/
    display: none;
}

#nav-tab-opener{
    display: none;
}

.nav-arrow{
    color: white;
    font-size: 2rem;
    align-self: center;
    position: relative;
    top: -10px;
}


/*  Main  */


main{
    background-color: rgb(57, 169, 219);
}


/*  About  */


#main-banner{
    position: relative;
    background: url(../images/803e41fee0edf8f8ed1de518e6eac60ddf30ac485b9a16a2.avif) no-repeat center/cover;
    height: 500px;
}

#main-banner div{
    position: absolute;
    bottom: 20px;
    left: 60px;
    width: 250px;
    margin: 0 auto;
    text-align: center;
}

#main-banner div h1{
    background-color: rgba(0, 0, 0, 70%);
}

#about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    letter-spacing: 1px;
}

.about-box{
    text-align: center;
    padding-bottom: 40px;
}

.about-box h2{
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.about-box a{
    text-decoration: underline;
}


/* Schedule  */


#table-page{
    background: url(../images/fortnite-big-bang-battle-pass-1920x1080-33cdd008e725.jpg) no-repeat center/cover;
}

#table{
    display: flex;
    align-items: center;
    justify-content: center;
}

#table-page{
    padding: 10% 0;
}

table{
    padding: 2.5%;
    background-color: rgba(0, 0, 0, 40%);
}

th, td{
    border: 1px solid white;
    text-align: center;
    padding: 5px;
    font-size: 1.3em;
    background-color: rgb(57, 169, 219);
}


/*  Register  */


form{
    padding: 50px 30px;
    max-width: 400px;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 60%);
}

#form-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    height: 600px;
    background: url(../images/Fortnite_Metaverse.jpg) no-repeat center/cover;
}

input[type="text"], input[type="email"]{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding-left: 5px;
    color: white;
}

.squad-size{
    margin-right: 12px;
}

input[type="text"], input[type="email"], input[type="radio"]{
    margin-bottom: 12px;
}

input:focus{
    color: white;
    background-color: transparent;
}

input::placeholder{
    color: white;
    opacity: 80%;
}

#radio-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#solo:checked~.squad{
    display: none;
}

.duo{
    display: none;
}

#duo:checked~.duo{
    display: block;
}

.trio{
    display: none;
}

#trio:checked~.trio{
    display: block;
}

.squad{
    display: none;
}

#squad:checked~.squad{
    display: block;
}

#btn{
    padding: 7px 12px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: #1C77C3;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

#btn:active{
    color: #1C77C3;
    background-color: white;
    border: none;
}

#btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer */


footer{
    background-color: #1C77C3;
    position: relative;
    bottom: 0;
}

#footer-socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
}

#footer-socials li{
    font-size: 30px;
}

#footer-links{
    text-align: center;
}

#footer-links li{
    padding-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}


/*  Media Query for Tablets or Larger  */
@media screen and (min-width: 768px){
    /*  Header  */

    header{
        flex-direction: row;
        align-items: center;
        position: static;
    }

    nav{
        position: static;
        top: 0px;
        display: block;
    }

    nav ul{
        display: flex;
        justify-content: end;
    } 

    nav li {
        margin-right: 20px;
        padding-bottom: 0px;
        font-size: 20px;
    }

    .nav-arrow{
        display: none;
    }


    /*  About  */


    #main-banner{
        height: 800px;
    }

    #main-banner div{
        bottom: 15px;
        left: 15px;
        width: 400px;
    }

    #main-banner div h1{
        font-size: 3em;
    }

    #about{
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #about-container{
        flex-direction: row;
        gap: 80px;
        flex-wrap: wrap;
        align-items: start;
    }

    .about-box{
        flex: 1;
        padding-bottom: 0px;
    }

    .box-1{
        text-align: left;
    }
    
    .box-2{
        text-align: center;
    }

    .box-3{
        text-align: right;
    }


    /*  Schedule  */


    th, td{
        padding: 10px;
        font-size: 1.6em;
    }

}


/*  Media Query for Laptops or Larger  */
@media screen and (min-width: 1024px){
    /*  Footer  */


    footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #footer-socials li, #footer-links li{
        margin-right: 50px;
        font-size: 20px;
    }

    #footer-links{
        display: flex;
        padding: 10px 0;
    }
}