@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Bebas Neue", sans-serif;
}

ul{
    list-style-type: none;
}

a{
    color: white;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1C77C3;
    position: relative;
}

header img{
    align-self: center;
    height: 70px;
}

nav{
    background-color: #1C77C3;
    top: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    color: white;
    text-align: center;
    display: none;
}

nav li{
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
}

#nav-tab-opener:checked~nav{
    display: block;
}

#nav-tab-opener:checked~label{
    display: none;
}

#nav-tab-opener{
    display: none;
}

.nav-arrow{
    color: white;
    font-size: 2rem;
    align-self: center;
    position: relative;
    top: -10px;
}
